<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
      <div class="dropdown no-arrow">
        
      </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">

    <mat-tab-group>
      <mat-tab label="Pessoa"> 
        <form [formGroup]="formularioPessoa" (ngSubmit)="salvar()">

          <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" formControlName="nome">
              </mat-form-field>
          </div>
  
          <div class="form-group">
            <mat-form-field >
                <mat-label>Email</mat-label>
                <input matInput placeholder="E-mail" formControlName="email">
            </mat-form-field>
          </div>
  
          <div class="form-group">
            <mat-form-field >
                <mat-label>Cpf/Cnpj</mat-label>
                <input matInput placeholder="Cpf/Cnpj" formControlName="numCpfCnpj">
            </mat-form-field>
          </div>
        
          <div class="form-group">
            <label>Tipo Pessoa</label>
        
            <div class="form-check">
              <input class="form-check-input" type="radio" name="codTipoPessoa" id="pessoaFisica" [value]="1" formControlName="codTipoPessoa" (change)="changePessoa($event)">
              <label class="form-check-label" for="pessoaFisica">Fisica</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="codTipoPessoa" id="pessoaJuridica" [value]="2" formControlName="codTipoPessoa" (change)="changePessoa($event)">
              <label class="form-check-label" for="pessoaJuridica">Juridica</label>
            </div>
          </div>
         
          <div>
            <button mat-raised-button color="primary" type="submit">Salvar</button>
          </div>
  
          <div>
            <table mat-table [dataSource]="pessoas" class="mat-elevation-z8">
  
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-Mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="numCpfCnpj">
                <th mat-header-cell *matHeaderCellDef> Cpf/Cpnj </th>
                <td mat-cell *matCellDef="let element"> {{element.numCpfCnpj}} </td>
              </ng-container>
          
              <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> editar </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-raised-button color="primary" type="button" (click)="editar(element)">Editar</button>  
                </td>
              </ng-container>
            
              <ng-container matColumnDef="excluir">
                <th mat-header-cell *matHeaderCellDef> excluir </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-raised-button color="primary" type="button" (click)="excluir(element)">Excluir</button>  
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
  
      </form>  
      </mat-tab>
      <mat-tab label="Dados Pessoa Física" [disabled]="codTipoPessoa==1"> 
        <app-manter-pessoa-fisica [formularioPessoaFisica]="formularioPessoaFisica"></app-manter-pessoa-fisica>
      </mat-tab>
      <mat-tab label="Dados Pessoa Jurídica" [disabled]="codTipoPessoa==2"> PJ </mat-tab>
      <mat-tab label="Endereço"> Edereço </mat-tab>
    </mat-tab-group>
    
</div>
</div>




