<form [formGroup]="formularioPessoaJuridica">
  <br>

  <div class="form-group row">
    <label for="inputNomeFantasia" class="col-sm-2 col-form-label">Nome Fantasia :</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="inputNomeFantasia" formControlName="nomeFantasia"  >
    </div>
  </div>

  <div class="form-group row">
    <label for="inputNumInscricaoEstadual" class="col-sm-2 col-form-label">Num. Inscriçãao Estadual :</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="inputNumInscricaoEstadual" formControlName="numInscricaoEstadual" >
    </div>

    <label for="inputValorCapitalSocial" class="col-sm-2 col-form-label">Valor Capital Social :</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="inputValorCapitalSocial" formControlName="valorCapitalSocial"  >
    </div>
  </div>

  <div class="form-group row">
    <label for="inputnumInscricaoMunicipal" class="col-sm-2 col-form-label">Num. Inscrição Municipal :</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputnumInscricaoMunicipal" formControlName="numInscricaoMunicipal" >
    </div>

    <label for="inputcontratoSocial" class="col-sm-2 col-form-label">Contrato Social :</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="inputcontratoSocial" formControlName="contratoSocial" >
    </div>
  </div>

  <div class="form-group row">
    <label for="inputNumRegistroJuntaComercial" class="col-sm-2 col-form-label">Num. Registro Junta Comercial :</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="inputNumRegistroJuntaComercial" formControlName="numRegistroJuntaComercial" >
    </div>

    <label for="inputdataRegistroJuntaComercial" class="col-sm-2 col-form-label">Data Registro Junta Comercial  :</label>
    <div class="col-sm-3">
      <input type="date" class="form-control" name="dataRegistroJuntaComercial" id="inputdataRegistroJuntaComercial" formControlName="dataRegistroJuntaComercial" >
    </div>
  </div>

  <div class="form-group row">
    <label for="inputNumUltimaAlteracaoContratoSocial" class="col-sm-2 col-form-label">Num. Última Alteração Contrato Social  :</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="inputNumUltimaAlteracaoContratoSocial" formControlName="numUltimaAlteracaoContratoSocial" >
    </div>

    <label for="inputdataUltimaAlteracaoContratoSocial" class="col-sm-2 col-form-label">Data Última Alteracao Contrato Social :</label>
    <div class="col-sm-3">
      <input type="date" class="form-control" name="dataUltimaAlteracaoContratoSocial" id="inputdataUltimaAlteracaoContratoSocial" formControlName="dataUltimaAlteracaoContratoSocial" >
    </div>
  </div>

  <div class="form-group row">
    <label for="inputNumRegistroRepresentacao" class="col-sm-2 col-form-label">Num. Registro Representação  :</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="inputNumRegistroRepresentacao" formControlName="numRegistroRepresentacao" >
    </div>

    <label for="inputDataRegistroRepresentacao" class="col-sm-2 col-form-label">Data Registro Representação :</label>
    <div class="col-sm-3">
      <input type="date" class="form-control" name="dataRegistroRepresentacao" id="inputDataRegistroRepresentacao" formControlName="dataRegistroRepresentacao" >
    </div>
  </div>

  <div class="form-group row">
    <label for="inputcodNacionalidade" class="col-sm-2 col-form-label">Cod. Nacionalidade :</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="inputcodNacionalidade" formControlName="codNacionalidade" >
    </div>

    <!--
    <label for="inputBolMei" class="col-sm-2 col-form-label">Mei:</label>
    <div class="col-sm-2">
      <input class="form-check-input" type="checkbox" value="" id="inputBolMei">
      <label class="form-check-label" for="bolMei">
        Sim
      </label>
    </div>
    -->
  </div>
</form>


 


